# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Debug logs
debug.log

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
